<h1>Ads listing </h1>

<%= link_to 'Post an Ad', new_ad_path %>
<% @ads.each do |ad| %>
    <p>
        <%= ad.title %>
        <%= ad.price %>
        <%= link_to 'Show', ad_path(ad) %>
    </p>
<% end %>
